* {
  box-sizing: border-box;
  --header-height: 60px;
  --breakpoint-sm: 350px;
  --breakpoint-md: 550px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

#root {
  font-size: 10px;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: var(--header-height);
}

main {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
